@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/Gilroylight.woff2') format('woff2'), url('../fonts/Gilroylight.woff') format('woff'), url('../fonts/Gilroylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/Gilroyextrabold.woff2') format('woff2'), url('../fonts/Gilroyextrabold.woff') format('woff'), url('../fonts/Gilroyextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}
.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
.visually-hidden {
  display: none;
}
.main-header {
  background-color: #f7e296;
}
.header-logo {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
}
.header-logo:hover {
  opacity: 0.6;
}
.header-logo:active {
  opacity: 0.3;
}
.navigation {
  line-height: 36px;
}
.navigation ul {
  list-style: none;
}
.navigation li:hover {
  opacity: 0.6;
}
.navigation li:active {
  opacity: 0.3;
}
.search-form {
  line-height: 36px;
}
.search-form input[type="search"] {
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  opacity: 0.3;
  background-color: #f7e296;
  border: none;
}
.search-form input[type="search"]:hover {
  opacity: 0.6;
}
.search-form input[type="search"]:focus {
  opacity: 1;
  outline: none;
  border-bottom: 2px solid #000000;
}
.search-form input[type=submit] {
  display: none;
  background-color: #f7e296;
  border: 2px solid #000000;
  outline: none;
  cursor: pointer;
}
.search-form input[type=submit]:hover {
  color: #ffffff;
  background-color: #000000;
  opacity: 1;
}
.search-form input[type=submit]:active {
  color: rgba(255, 255, 255, .3);
}
.search-form-field+input[type=submit]:active,
.search-form-field:focus+input[type=submit] {
  display: inline-block;
  vertical-align: bottom;
}
.header-nav {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
}
.header-nav ul {
  padding-left: 0;
  font-size: 0;
}
.header-nav a:hover {
  opacity: 0.6;
}

.header-nav a:active {
  opacity: 0.3;
}
.main-links {
  font-size: 18px;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-menu {
  background-color: #f7e296;
  display: none;
  font-size: 0;
  z-index: 5;
}
.catalog-menu:hover, .index-catalog:hover+.catalog-menu {
  display: block
}
.catalog-menu li:last-child {
  display: block
}
.catalog-menu a {
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
  font-weight: normal;
  text-transform: none;
}
.promo-slider h2,
.service-slogan h2,
.about-us h2,
.info-contacts h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 1.2;
  font-weight: bold;
}
.btn {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
}
.btn:hover {
  background-color: #f0c52e;
}
.btn:active {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}
.number-slide {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  color: #ffffff;
  font-weight: bold;
}
.slider-text,
.service-text {
  color: #464646;
}
.features-value {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1.2;
}
.features-type {
  font-size: 13px;
  line-height: 20px;
  color: #464646;
}
.type-items a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
}
.type-block {
  background-color: #f7e296;
}
.type-item-link:hover .type-block {
  background-color:#f0c52e;
}
.type-item-link:hover .type-block {
  background-color:#f0c52e;
}
.type-item-link:active img {
  opacity: 0.3;
}
.type-item-link:active {
  color: rgba(0, 0, 0, .3);
}
.service-slider-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
}
.service-slider-item:hover {
  background-color: #f0c52e;
}
.service-slider-item:active {
  background-color: #000000;
  color: #f7e296;
}
.services {
  background-color: #e5e5e5;
}
.active,
.active:hover,
.active:active {
  background-color: #000000;
  color: #f7e296;
}
.partners {
  list-style: none;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  color: #000000;
}
.top-maker-item img:last-child {
  opacity: 0
}
.top-maker-item img {
  transition: opacity .2s ease-in
}
.maker-btn:hover img:first-child {
  opacity: 0
}
.maker-btn:hover img:last-child {
  opacity: 1
}
.subject {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 1.2;
  font-weight: bold;
}
.breadcrumbs {
  font-size: 14px;
  line-height: 36px;
}
.breadcrumbs-item {
  opacity: 0.3
}
.breadcrumbs-item:hover {
  opacity: 0.6;
}
.breadcrumbs-item:active {
  opacity: 0.1;
}
.catalog-titles {
  background: #ebebeb;
  background: linear-gradient(to right, #dbdbdb 0%, #dbdbdb 49%, #ebebeb 50%, #ebebeb 100%);
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
}
.filter {
  background: #dbdbdb;
}
.catalog-sort {
  background-color: #ebebeb;
}
.sorting-left {
  list-style: none;
}
.sorting-item {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  font-weight: normal;
  text-transform: none;
}
.sorting-item:hover {
  opacity: 0.6;
}
.sorting-item:active {
  opacity: 1;
}
.active-sorting {
  opacity: 1;
}
.active-sorting:hover {
  opacity: 1;
}
.catalog-left {
  background-color: #efefef;
}
.price-selection,
.option-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
}
.color-item,
.energy-item {
  font-size: 14px;
  line-height: 40px;
}
.top-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
}
.top-item-btn {
  display: none;
  background-color: rgba(238, 238, 238, 0.9);
  z-index: 10;
}
.top-item:hover .top-item-btn {
  display: block;
}
.item-buy,
.item-bookmark {
  display: block;
  text-decoration: none;
}
.item-bookmark {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  color: #000000;
  opacity: 0.5;
  font-weight: normal;
  text-transform: none;
}
.item-bookmark:hover {
  opacity: 1;
}
.item-bookmark:active {
opacity: 0.2;
}
.iten-img {
  background-color: #efefef;
}
.top-item-title {
  font-size: 18px;
  line-height: 1.2;
}
.top-item-price {
  color: #464646;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
}
.catalog-navigation {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ebebeb;
}
.page-number {
  color: rgba(0, 0, 0, 0.3);
}
.page-number:hover {
  color: rgba(0, 0, 0, 0.6);
}
.page-number:active {
  color: rgba(0, 0, 0, 1);
}
.active-nav {
  color: rgba(0, 0, 0, 1);
}
.active-nav:hover {
  color: rgba(0, 0, 0, 1);
}
.next-page {
  color: rgba(0, 0, 0, 1);
}
.next-page:hover {
  background-color: #d9d9d9;
}
.next-page:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}
footer {
  background-color: #464646;
  color: #ffffff;
}
.footer-logo-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffc600;
}
.footer-logo-link:hover {
  opacity: 0.6;
}
.footer-logo-link:active {
  opacity: 0.3;
}
.footer-nav ul {
  list-style: none;
  line-height: 36px;
}
.footer-nav li {
  opacity: 0.7;
}
.footer-nav li:hover {
  opacity: 1;
}
.footer-nav li:active {
  opacity: 0.3;
}
.sub-nav {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
}
.sub-nav a:hover {
  opacity: 0.6;
}
.sub-nav a:active {
  opacity: 0.3;
}
.social-btn {
  opacity: 0.3;
}
.social-btn:hover {
  opacity: 0.6;
}
.social-btn:active {
  opacity: 0.1;
}
.footer-creator:hover {
  opacity: 0.6;
}
.footer-creator:active {
  opacity: 0.3;
}
.modal-write-form label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18;
  font-weight: bold;
}
.modal-write-form input,
.modal-write-form textarea {
  font-size: 14px;
  line-height: 18px;
  color: #464646;
  background-color: #f2f2f2;
  border: none;
}
.modal-write-form input:hover,
.modal-write-form textarea:hover {
  background-color: #eaeaea;
}
.modal-write-form input:focus,
.modal-write-form textarea:focus {
  background-color: #ffffff;
  border: 3px solid #f7e296;
  outline: none;
}
.modal-write-form input:invalid:not(:placeholder-shown) {
  background-color: #f6dada;
}
